*{
   margin: 0;
   padding: 0;
   font-family: Roboto,Arial;
}
main{
   display: flex;
}
.cart{
   margin: 10rem 10%;
   width: 80%;
   display: flex;
   align-items: top;
   justify-content: space-between;
}
.cart-inventory{
   flex-basis: 60%;
   min-width: 400px;
   border: 2px solid gray;
   padding: 10px;
   display: flex;
   flex-direction: column;
   row-gap: 30px;
}
.cart-container{
   background-color: #FBF9F3;
}
.cart-details-text{
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 0.6rem;
}
.cart-product-container{
   display: flex;
   align-items: top;
   justify-content: space-evenly;
   column-gap: 4vw;
}
.cart-product-name{
   font-size: 18px;
   font-weight: 400;
}

.cart-image{
   width: 8vw;
   min-width: 75px;
   height: 100%;
   min-height: 75px;
   object-fit: cover;
}
.cart-checkout{
   flex-basis: 25%;
   border: solid 1px rgb(0,0,0);
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
}

.cart-product-info-container{
   display: flex;
   flex-basis: 40%;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   padding: 10px 0;
}
.cart-delete-item{
   background-color: transparent;
   color: #aaa;
   font-size: 0.8rem;
   border:none;
   cursor: pointer;
}
.cart-quantity-container {
   flex-basis: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .cart-quantity {
   display: flex;
   align-items: center;
 }
 
 .cart-quantity > div {
   display: flex;
   align-items: center;
 }
 
 .cart-item-quantity {
   outline: none;
   max-width: 5rem;
   padding: .5rem;
   border: solid #ddd;
   border-width: 1px 2px;
   font-size: 1rem;
   height: 1.5rem;
   text-align: center;
   pointer-events: none;
 }
 .quantity-button{
   background-color: transparent;
   border: none;
   align-content: center;
   width: 3rem;
   height: 3rem;
   cursor: pointer;
   margin: 0;
   position: relative;
 }
 
 .fa-plus, .fa-minus {
   font-size: 0.8rem;
 }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-price-container{
   flex-basis: 20%;
   align-content: center;
}
.price-main-text{
   font-size: 20px;
   color: #704525;
   margin-bottom: 10px;
}
.checkout{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-top: 10px;
   padding-bottom: 10px;
   flex-grow: 1;
   margin-top: 10px;
}
.price-product, .price-delivery, .price-total{
   display: flex;
   justify-content: space-between;
}
.price-product-text, .price-delivery-text, .price-total-text{
   color: #025103;
   font-size: 18px;
}
.price-product-value, .price-delivery-value, .price-total-value{
   color:#704525;
}
.complete-shopping-button{
   background-image: linear-gradient(#704525,#40A944);
   color: white;
   padding: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}
.complete-shopping-button:hover{
   box-shadow: 4px 4px 5px rgba(0, 0,0,0.2);
}