* {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

main{
    width: 20%;
    margin: auto;
    margin-top: 60px;
    background-color: #FBF9F3;
    border: solid 1px black;
    padding: 8vh 4vw ;
}

.welcome {
    margin-bottom: 15px;
    font-size: 2rem;
}

.text {
    font-size: 1rem;
}

.text-container {
    margin-bottom: 20px;
}

.email,
.password {
    width: 100%;
    box-sizing: border-box; 
    height: 2.5rem;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding: 0 6px;
    border: none;
    background-color: rgba(76, 126, 63, 0.7);
    color: black;
}

.email:focus,
.password:focus {
    outline: none;
}

.email::placeholder,
.password::placeholder {
    color: white;
    font-size: 1rem;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.additional-functions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remember-text {
    font-size: 0.8rem;
}

.remember-checkbox {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    accent-color: #40A944;
}

.forgotten-password-text {
    width: 100%;
    font-size: 0.75rem;
    color: #40A944;
    text-decoration: underline;
    cursor: pointer;
}

.login-container {
    margin-bottom: 30px;
}

.login {
    width: 100%;
    padding: 10px 0;
    background-color: #40A944;
    color: #FBF9F3;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.account-text-container {
    margin-bottom: 15px;
}

.account-text {
    font-size: 1.2rem;
}

.register-text-container {
    margin-bottom: 15px;
}

.register-button {
    font-size: 0.8rem;
}

.register-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.register {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #272525;
    color: #FBF9F3;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.login-google-container {
    margin-bottom: 10px;
}

.login-google {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: #FBF9F3;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.login-facebook {
    width: 100%;
    padding: 10px 0;
    background-color: #3B5998;
    color: #FBF9F3;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}